body {
    background-image: url(https://wallpaper.dog/large/5472313.jpg);
}

#carouselExampleIndicators{
    width: 900px;
    border: 8px solid rgb(53, 5, 5);
    margin: 15px auto;
}

.contenedor{
    width: 90%;
    background-color: #333;
    border: 5px solid rgb(108, 0, 248);
    margin: 20px auto;
    height: 1000px;
    color: white;
}
#articulo{
    width: 90%;
    text-align: left;
    margin: auto;
}
.textoarticulo{
    margin: 2% 2% 0 2%;
}
.container{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.imagen{
    width: 200px;
    margin: 5px;
}
.imagen img{
    width: 100%;
}
.arcadesistema{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}
.sistema{
    width: 100px;
    margin: 100px;
}
.sistema img{
    width: 100px;
}
footer{
    height: 150px;
    background: rgb(0, 0, 0);
    text-align: left;
    color: white;
}
.contenidoarcade{
    width: 90%;
    color: white;
    background-color: #333;
    border: 5px solid rgb(108, 0, 248);
    margin: 20px auto;
    height: 1500px;
}
.pfooter{
    color: white;
    
}
.footer1{
    margin: 1% 0 0 20%;
}
.titulofooter{
    margin: 12px 12px 12px 12px;
}